

.steel{
    background-color: #60a1b960;
    border-radius:15px;
    padding: 0.1em 1.5em
    
}

.water{
    background-color: #247fef80;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.bug{
    background-color: #cee4266c;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.dragon{
    background-color: #4f60e270;
    border-radius:15px;
    padding: 0.1em 1.5em;
    color:rgb(235, 229, 229);
}

.electric{
    background-color: #f9bf0070;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.ghost{
    background-color: #713f716e;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.fire{
    background-color: #e723236b;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.fairy{
    background-color: #ef71ef6b;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.fight{
    background-color: #ff80006e;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.normal{
    background-color: #a0a2a067;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.ice{
    background-color: #3dd8ff65;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.grass{
    background-color: #3da22462;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.psychic{
    background-color: #ef3f7a75;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.rock{
    background-color: #b0ab8263;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.dark{
    background-color:#4f3f3d69 ;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.ground{
    background-color: #92511b6b;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.poison{
    background-color: #913fcc69;
    border-radius:15px;
    padding: 0.1em 1.5em
}

.flying{
    background-color: #82baef73;
    border-radius:15px;
    padding: 0.1em 1.5em
}