.steelCard{
    background-color: #60A2B9;

}

.waterCard{
    background-color: #2481EF;
}

.bugCard{
    background-color: #92A212;
}

.dragonCard{
    background-color: #4F60E2;
    opacity: 0.5
}

.electricCard{
    background-color: #F9C000;
}

.ghostCard{
    background-color: #713F71;
}

.fireCard{
    background-color: #E72324;
}

.fairyCard{
    background-color: #EF71EF;
}

.fightCard{
    background-color: #FF8100;
}

.normalCard{
    background-color: #A0A2A0;
}

.iceCard{
    background-color: #455757;
}

.grassCard{
    background-color: #3DA224;
}

.psychic{
    background-color: #EF3F7A;
}

.rock{
    background-color: #B0AB82;
}

.darkCard{
    background-color:#4F3F3D ;

}

.groundCard{
    background-color: #92501B;
}

.poisonCard{
    background-color: #923FCC;
}

.flyingCard{
    background-color: #82BAEF;
}